<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head.ejs'); %>
    <title>Home | Superhero Society</title>
</head>
<body>
    <%- include('../components/header.ejs'); %>
    <main>
        <h1>404 - Page Not Found</h1>
        <p>Sorry, we couldn't find the page you were looking for. Please double check the URL or countinue browsing to find the infomation you're looking for.</p>
    </main>
</body>
</html>