<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head.ejs'); %>
    <script src="/js/search-superheroes.js"></script>
    <title>Home | Superhero Society</title>
</head>
<body>
    <%- include('../components/header.ejs'); %>
    <main>
        <h2 class="inline">Superheroes</h2>
        <input type="search" id="searchbar" class="searchbar" placeholder="Search">
        <div class="cardSection">
            <a id="templateCard" class="superheroCard template" data-loop="r.data" data-loop-fill data-loop-fill-href="`/member/superheroes?id=${r.data[i].id}`">
                <%- include('../components/superhero-card.ejs') %>
            </a>
        </div>
    </main>
</body>
</html>